@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100%;
    /* grid-template-areas: "one, one"; */
}

.left {
    grid: one;
    background-color: rgba(88, 53, 146, 0.87);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 35%;
}

.right {
    grid: two;
}

form {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 3vh;
}

.name, .email, .phoneNumber, .password, .confirmPassword {
    position: relative;
    display: inline-block;
}

.name input {
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    background-image: url('./Images/icons8-person-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 6vh;
    outline: none;
}
.email input {
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    background-image: url('./Images/icons8-email-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 6vh;
    outline: none;
}
.phoneNumber input {
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    background-image: url('./Images/icons8-phone-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 6vh;
    outline: none;
}
.password input {
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    background-image: url('./Images/icons8-password-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 6vh;
    outline: none;
}
.confirmPassword input {
    height: 5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    background-image: url('./Images/icons8-password-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 6vh;
    outline: none;
}

form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    height: 5vh;
    width: 41vh;
    border-radius: 1vh;
    background-color: rgba(88, 53, 146, 0.87);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}
.logIn{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.master{
    margin: 0 10vh 5vh 10vh;
    
}
.nav{
    position: sticky;
    top: 2vh;
    background: white;
}
.username{
    display: flex;
    justify-content: space-between;
}
hr{
    color: rgba(88, 53, 146, 0.87);
}
.content{
    display: flex;
    margin-top: 3vh;
}
.sect{
    position: fixed;
    height: 90%;
    width: 20%;
    border: 2px solid rgba(88, 53, 146, 0.87);
    border-radius: 1vh;
}
.userFeatures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userFeatures p{
    margin-top: 10vh;
}
.content2, .assignedProjects, .unassignedProjects, .completedProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 35vh;
    margin-right: 10vh;
}
.actualContent{
    margin-top: 2vh;
    background-color: rgba(217, 217, 217, 0.3);
    border-bottom: 2px solid rgba(88, 53, 146, 0.87);
}
.actualContentBody{
    margin: 1vh;
    display: flex;
    flex-direction: row;
}
.actualContentBody1{
    margin-top: 1vh;
    width: 15%;
}
.actualContentBody2{
    margin-top: 1vh;
    width: 70%;
}
.actualContentBody3{
    margin-top: 1vh;
    /* width: 15%; */
    margin-left: 2vh;
}
.complete{
    height: 5vh;
    width: 8vw;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(101, 182, 52, 1);  
    border-radius: 1vh;
    color: rgba(101, 182, 52, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vh;
}

.projectTitle, .projectDescription, .dueDate {
    display: block;
    /* flex-direction: row;
    gap: 3vh; */
}
.projectTitle textarea{
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    outline: none;
}
.projectDescription textarea{
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    outline: none;
}
.dueDate input{
    border-radius: 1vh;
    border: 2px solid rgba(88, 53, 146, 0.87);
    outline: none;
}
.update{
    height: 5vh;
    width: 8vw;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(88, 53, 146, 1);
    border-radius: 1vh;
    color: rgba(88, 53, 146, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Images/icons8-pencil-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 2vh;
}
.delete{
    height: 5vh;
    width: 8vw;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(245, 11, 11, 1);
    border-radius: 1vh;
    color: rgba(245, 11, 11, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Images/icons8-delete-30.png');
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 2vh;
}
.assign{
    height: 5vh;
    width: 9vw;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(14, 90, 238, 1);
    border-radius: 1vh;
    color: rgba(14, 90, 238, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 2vh 2vh;
    background-repeat: no-repeat;
    background-position: 3vh center;
    padding-left: 2vh;
}
.users{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5vw; */

}
.users2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10vw;
    border-bottom: 2px solid rgba(88, 53, 146, 0.87);
    width: 85%;
    /* margin-left: 25vh; */
}
.image{
    border-radius: 50%;
    height: 10vh;
}

/* Styling for the hamburger icon */
.hamburger-icon {
    cursor: pointer;
    display: none;
}

/* Styling for the hamburger menu */
.hamburger-menu {
    display: none; /* Initially hide the menu */
    background-color: #fff;
    position: absolute;
    top: 90px;
    z-index: 999;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: rgba(88, 53, 146, 0.87);
}
.hamburger-menu p{
    margin-top: 5vh;
    border-bottom: 1px solid rgba(88, 53, 146, 0.87);
}

/* Show the menu when the show-menu class is added */
.show-menu {
    display: block;
}

@media screen and (max-width: 800px ), (max-width: 500px){
    *{
        overflow: hidden;
        margin: 0;
    }
    body{
        margin: 0;
        font-size: 12px;
    }
    .main{
        display: block;
        height: 100%;
    }
    .left{
        height: 30%;
    }
    .right{
        height: 70%;
    }
    form{
        margin-top: 5vh;
        display: flex;
        justify-content: center;
    }
    .heading{
        margin-top: 10vh;
    }
    .content2{
        margin: 0vh;
    }
    .master{
        margin: 2vh;
    }
    .sect {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .hamburger-icon {
        cursor: pointer;
        display: block;
    }
    
    .userFeatures {
        display: none;
    }

    }
